[submodule "test/lib/elysian-test"]
	path = test/lib/elysian-test
	url = ../../open-source/elysian-test.git
[submodule "doc/doxygenapidark"]
	path = doc/doxygenapidark
	url = ../../open-source/doxygenapidark.git
[submodule "util/build-environment"]
	path = util/build-environment
	url = git@chaosrift.endofinternet.net:open-source/build-environment.git
