include:
  - local: util/pipeline-template.yml
 
variables:
  BINARY_PATH: test
  BINARY_NAME: GimbalTests
  PROJECT_CMAKE_ARGS: -DGBL_ENABLE_TESTS=ON -DGBL_ENABLE_CPP=ON
  DOCS_FTP_ADDRESS: libgimbal.elysianshadows.com
  TEST_ANDROID_SIM_DISABLED: "YES"
  BUILD_WIN_MSVC_DISABLED: "YES"
  BUILD_WIN_MINGW_DISABLED: "YES"
  BUILD_MACOS_CLANG_DISABLED: "YES"
  BUILD_MACOS_GCC_DISABLED: "YES"
  BUILD_PSP_DISABLED: "YES"
  BUILD_PSVITA_DISABLED: "YES"
  BUILD_ANDROID_SIM_DISABLED: "YES"
  BUILD_IOS_SIM_DISABLED: "YES"