[submodule "test/lib/elysian-test"]
	path = test/lib/elysian-test
	url = ../../open-source/elysian-test.git
[submodule "lib/lib/xxHash"]
	path = lib/lib/xxHash
	url = https://github.com/Cyan4973/xxHash.git
